<h1>Picture List</h1>

<button type="button" (click)="filterSoldIt(filterSold.ALL)">ALL</button>
<button type="button" (click)="filterSoldIt(filterSold.SOLDIT)">SOLD-IT</button>
<button type="button" (click)="filterSoldIt(filterSold.NOTSOLD)">NOT-SOLD</button>

<div *ngFor="let picture of pictures">

  <h2>Nome Dipinto: {{ picture.name }}</h2>
  <h3>Artista: {{ picture.author }}</h3>
  <img [src]="picture.imgPath" [alt]="picture.name" [title]="picture.name"/>
  <p>{{ picture.description }}</p>
  <p [ngClass]="isSoldIt(picture)">{{ soldItText(picture) }}</p><hr>

</div>
