<button mat-button [matMenuTriggerFor]="menu">Menu</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item routerLink="">Home</button>
  <button mat-menu-item routerLink="/gallery">Gallery</button>
  <button mat-menu-item routerLink="/dashboard">Dashboard</button>
  <button mat-menu-item routerLink="/client">Clients</button>
  <button mat-menu-item routerLink="/orders">Orders</button>
  <button mat-menu-item class="login" routerLink="/login" *ngIf="!(isLogged$ | async); else logged">Login</button>
  <ng-template #logged>
    <div class="welcome">Welcome, {{authService.MOCKED_USERNAME }}</div>
    <button mat-menu-item (click)="authService.logout()" >Logout</button>
</ng-template>
</mat-menu>




