<mat-card class="picture-card">
  <mat-card-header>
    <mat-card-title>Name Picture: {{ picture.name }}</mat-card-title>
    <mat-card-subtitle>Author: {{ picture.author }}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image src="{{ picture.imgPath }}" alt="Photo of a {{ picture.name }}" title="{{ picture.name }}">
  <mat-card-content>
    <strong>Like: {{ picture.like }}</strong>
    <p><strong>Description: </strong>{{ picture.description }}</p>
    <span [ngClass]="isSoldIt(picture)">{{ soldItText(picture) }}</span>
  </mat-card-content>
</mat-card>
