  
.picture-card {
    max-width: 400px;
  }
  
  img{
    width: 200px;
    height: 200px;
  }
  
  .Venduta{
    border: 1px dashed green;
    color: green;
    font-weight: bold;
    padding: 2px;
  }
  
  .Disponibile{
    border: 1px dashed red;
    color: red;
    font-weight: bold;
    padding: 2px;
  }