<div>
    <input (keyup)="pictureSearch($event)" class="search" placeholder="Search Here"><br>
</div>

<mat-form-field appearance="fill">
    <mat-label>Stato Gallery</mat-label>
    <mat-select (selectionChange)="onStatusChanged($event)">
        <mat-option *ngFor="let status of galleryStatus | keyvalue" [value]="status.key">
            {{status.value}}
        </mat-option>
    </mat-select>
</mat-form-field> 


<div fxLayout="row wrap" fxLayoutAlign="space-around start">
    <app-card class="list" *ngFor="let picture of pictures" [picture]="picture"></app-card>
</div>